@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #e5e5e5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.navigation-container {
  width: 1060px;
  margin: 0 auto;
}

.navigation {
  display: flex;
}

.site-logo {
  z-index: 1;
  position: absolute;
}

.navigation-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 169px;
  padding: 0;
  max-width: 450px;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: #000000;
  display: block;
  padding: 20px 0 19px 0;
  margin: 0 17px;
}

.navigation-list-user {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0 0 auto;
  margin-left: auto;
  min-width: 264px;
}

.navigation-item-user {
  width: 42px;
}

.navigation-link-user {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: #000000;
  display: block;
  padding: 20px 0 19px 0;
  text-align: center;
}

.navigation-link-favorite::after {
  content: "12";
  box-sizing: border-box;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  background-color: #7db54f;
  top: 15px;
  margin-left: -6px;
  text-align: center;
  padding-top: 2px;
}

.main-index {
  flex-grow: 1;
}

.welcome-logo-wrapper {
  background-image: url(../img/index-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #3f5e72;
  padding-top: 51px;
  padding-bottom: 82px;
  margin-bottom: 63px;
}

.welcome-logo {
  display: block;
  margin: 0 auto;
}

.advantages {
  margin-bottom: 91px;
}

.advantages-title-main {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 31px;
}

.advantages-main {
  text-align: center;
  margin: 0;
  margin-bottom: 90px;
}

.advantages-list {
  list-style-type: none;
  display: grid;
  grid-template-rows: 768px 384px 384px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
}

.advantages-item-town::before {
  content: url(../img/sedona-photo.jpg);
  display: block;
  width: 800px;
  height: 384px;
}

.advantages-item-town::after {
  content: url(../img/devils-bridge.jpg);
  width: 800px;
  height: 384px;
  grid-row: 3/4;
  grid-column: 1/3;
}

.advantages-item-town {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1/4;
  grid-row: 1/2;
}

.advantages-item-wrapper {
  display: flex;
  flex-direction: column;
  padding: 92px 85px;
  background-color: #82b3d3;
}

.wrapper-town {
  grid-column: 1/2;
  grid-row: 1/2;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
}

.advantages-number {
  font-size: 18px;
  line-height: 21px;
  margin: auto;
  text-align: center;
  padding: 30px 0;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0 auto;
  text-align: center;
}

.advantages-white {
  color: #ffffff;
}

.advantages-list-inline {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  grid-row: 2/3;
  grid-column: 1/4;
  height: min-content;
}

.advantages-item-inline {
  padding: 78px 85px 79px;
  display: flex;
  flex-direction: column;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-house::after {
  content: url(../img/hotels.svg);
  order: -1;
  margin: 0 auto;
  padding: 0;
  width: 75px;
  height: 72px;
}

.advantages-item-food::after {
  content: url(../img/food.svg);
  order: -1;
  margin: 0 auto;
  width: 74px;
  height: 70px;
}

.advantages-item-souvenir::after {
  content: url(../img/souvenir.svg);
  order: -1;
  margin: 0 auto;
  width: 64px;
  height: 76px;
}

.advantages-item-bridge {
  grid-row: 2/3;
  grid-column: 3/4;
}

.advantages-item-area {
  grid-row: 3/4;
  grid-column: 1/2;
}

.advantages-item-road {
  grid-row: 3/4;
  grid-column: 2/3;
}

.advantages-item-tourist {
  grid-row: 3/4;
  grid-column: 3/4;
}

.advantages-title-inline {
  margin: 0 auto;
  padding: 30px 0;
}

.advantages-list-items {
  display: flex;
  flex-direction: column;
  padding: 103px 85px 102px;
}

.hotel-search {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 93px;
}

.hotel-search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.hotel-search-description {
  margin: 0;
  margin-bottom: 56px;
}

.newsletter {
  text-align: center;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
  padding-top: 94px;
}

.newsletter-background {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #ffffff;
  background-color: #3f5e72;
}

.newsletter-description {
  margin: 0 0 46px 0;
}

.newsletter-description-index {
  color: #ffffff;
}

.newsletter-form {
  display: flex;
  padding-bottom: 94px;
  justify-content: center;
}

.field {
  font-size: 18px;
  line-height: 21px;
  padding: 0 0 0 22px;
  box-sizing: border-box;
  border: none;
  border-radius: 10px 0 0 10px;
  min-width: 600px;
  background-color: #F2F2F2;
}

.main-footer {
  background-color: #ffffff;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1060px;
  margin: 45px auto 35px;
  box-sizing: border-box;
}

.social {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 142px;
}

.social-item {
  width: 33.33%;
}

.social-link {
  display: block;
  box-sizing: border-box;
  padding: 7px 13px;
}

.contact-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.second-color{
  color: #333333;
}


/* Catalog */

.hotel-filter {
  background-image: url(../img/catalog-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #ffffff;
  background-color: #3f5e72;
  margin-bottom: 50px;
}

.hotel-filter-container{
  width: 1060px;
  margin: 0 auto;
}

.hotel-filter-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0 0 10px;
  padding-top: 35px;
}

.breadcrumbs {
  list-style-type: none;
  font-size: 16px;
  line-height: 21px;
  margin: 0 0 40px;
  padding: 0;
  display: flex;
}

.breadcrumbs-item{
  display: flex;
}

.breadcrumbs-item:not(:last-child)::after{
  content: url(../img/breadcrumb-vector.svg);
  margin: 0 10px;
}

.breadcrumbs-link {
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  color: inherit;
}

.catalog-filter-form {
  display: flex;
  padding-bottom: 70px;
}

.catalog-filter-group:not(:last-child) {
  margin-right: 70px;
  padding: 0;
}

.catalog-filter-group {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-group:nth-child(3) {
  margin-left: auto;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  padding-bottom: 30px;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-list-item {
  font-size: 18px;
  line-height: 21px;
}

.catalog-list-item:not(:last-child) {
  margin-bottom: 15px;
}



.hotel-search-container {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.search-result{
  display: flex;
  margin-bottom: 56px;
}

.search-result-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  align-self: center;
}

.select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  min-width: 290px;
  margin-left: auto;
  margin-right: 78px;
  padding-left: 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.sorting-type {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.sorting-type-item:not(:last-child) {
  margin-right: 8px;
}

.hotel-list {
  list-style-type: none;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 16px 0 0 0;
}

.hotel-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 18px;
  list-style-type: none;
  margin: 0 auto 66px;
  padding: 0;
}

.hotel-list-item {
  display: grid;
  grid-template-columns: 140px 140px;
  row-gap: 16px;
  column-gap: 20px;
  padding: 20px;
}

.hotel-card-link {
  text-decoration: none;
  color: #000000;
  grid-column: 1/3;
}

.hotel-item {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.hotel-price {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.rating-value {
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 9px 22px 8px 23px;
  margin: 0 auto;
}

.pagination-container {
  display: flex;
  margin: 30px 0 25px;
}

.pagination {
  list-style-type: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.pagnation-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  min-width: 60px;
  padding: 12px 19px;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.hotels-on-page {
  display: flex;
  margin: 0 0 0 auto;
  font-size: 18px;
  line-height: 21px;
  padding: 6px 0;
}

.hotels{
  padding: 14px 0 12px 0;
  margin-right: 51px;
}

.hotels-sorting {
  min-width: 160px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding-left: 20px;
}


/* Buttons */

.button {
  display: block;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}

.navigation-item-button {
  margin: 14px 0 0 auto;
}

.navigation-button {
  background-color: #756157;
  padding: 9px 15px 8px;
  min-width: 160px;
}

.hotel-search-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-self: center;
  padding: 12px 15px;
  background-color: #756157;
  min-width: 574px;
}

.newsletter-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  border: 1px solid #82b3d3;
  border-radius: 0 10px 10px 0;
  padding: 11px 15px;
  min-width: 200px;
}

/* Уточнить */
.button-catalog-filter {
  background-color: #82b3d3;
  border: 1px solid #82b3d3;
  padding: 13px 15px;
  margin-top: 60px;
  min-width: 160px;
}

.basic-button {
  background-color: #756157;
  padding: 9px 15px 8px;
  min-width: 140px;
}

.second-button {
  background-color: #82b3d3;
  border: 1px solid #82b3d3;
}

.selected-button {
  background-color: #7db54f;
  border: 1px solid #7db54f;
}

.button-reset {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  min-width: 100px;
  cursor: pointer;
  align-self: center;
  margin: 20px 0 0 0;
}

.sorting-button {
  display: block;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.sorting-button-current {
  border: 2px solid #000000;
}
